$first-breakpoint-value: 400px;
$second-breakpoint-value: 700px;
$mobile: new-breakpoint(max-width 480px 4);


$medium-viewport: new-breakpoint(min-width em($first-breakpoint-value) max-width em($second-breakpoint-value));

$large-viewport: new-breakpoint(min-width em($second-breakpoint-value + 1));

.element {
  @include media($medium-viewport) {
    @include span-columns(12);
    @include omega(2n);
    font-size: 2em;
  }

  @include media($large-viewport) {
    @include span-columns(12);
    @include omega(3n);
    font-size: 1.1em;
  }
  @include media($mobile){
    @include span-columns(12);
    @include omega(2n);
    font-size: 2em;
  }
}