<div class="hero element">
<button type="button" class="js-menu-trigger sliding-menu-button">
  <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/menu-white.png" alt="Menu Icon">
</button>

<nav class="js-menu sliding-menu-content">
  <ul>
    <li><a href="http://www.searchstrategysolutions.com/">Bootstrap Landing Page</a></li>
    <li><a href="http://52.11.31.134">Angular Test App</a></li>
    <li><a href="http://52.10.246.64/#Aspirations">Knockout.js Landing Page</a></li>
    <li><a href="http://jrney-talaman.herokuapp.com">Backbone.js Places-along-route App</a></li>
<li><a href="http://obscure-woodland-7095.herokuapp.com/tasks">Node-MongoDB Tasks App </a></li>
<li><a href="http://thinkcopter.com"</a>Brain-Controlled Quadcopter</a></li>
<li><a href="https://github.com/Talamantez/eeg-data-recorder">EEG-Data Recorder Node-MongoDB</a></li>
<li><a href="http://52.10.113.199">Sass-Handlebars Portfolio Page</a></li>
  </ul>
</nav> 
	<div class="hero-inner">
		<div class="hero-copy">
			<h1>Talamantez</h1>
			<p>Responsive Design</p>	
		</div>
    <button id='portfolio'>Portfolio</button>
	</div>
</div>

<script>$(document).ready(function(){
  $('.js-menu-trigger,.js-menu-screen,#portfolio').on('click touchstart',function (e) {
    $('.js-menu,.js-menu-screen').toggleClass('is-visible');
    console.log('this.hidden' + this.hidden);
    e.preventDefault();
  });
/*  $('.js-menu, .js-menu-screen').on('click touchstart', function (e) {
    $('.js-menu,.js-menu-screen').toggleClass('is-visible');
    console.log('this.hidden' + this.hidden);  	
  	e.preventDefault();
});*/
});
</script>
